# InteliJ
.idea/
# Visual Studio Code
.vscode/
# I use nvim btw :D
*~

# Rust
target/
**/*.rs.bk
Cargo.lock

# Logs
logs/
*.log

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Personal linter config
.cargo/

# Distrubution builds
dist/

# Binary bank files
assets/sound/*.bank

# FMOD
fmod/.cache
fmod/.user
