# Rust
target/
**/*.rs.bk
Cargo.lock
.cargo

# IDEs
.idea/
.vscode/
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Distribution builds
dist/

# Debugging
flamegraph.svg
