[
    (
        name: "TerrainShader",
        type: "Shader",
        metadata: {
            "vertex": "!IncludeVec ../../assets/shaders/terrain.vert",
            "fragment": "!IncludeVec ../../assets/shaders/terrain.frag",
        },
    ),
    (
        name: "TestTerrain",
        type: "Terrain",
        metadata: {
            "texture": "!IncludeVec ../../assets/terrain.png",
            "map": "!IncludeVec ../../assets/terrain_map.png",
        },
    ),
]
