resolution w=640  h=480  a="4:3"   t="VGA"
resolution w=800  h=600  a="4:3"   t="SVGA"
resolution w=1024 h=768  a="4:3"   t="XGA"
resolution w=1280 h=720  a="16:9"  t="WXGA"
resolution w=1280 h=1024 a="5:4"   t="SXGA"
resolution w=1360 h=768  a="16:9"  t="HD"
resolution w=1440 h=900  a="16:10" t="WXGA+"
resolution w=1600 h=900  a="16:9"  t="HD+"
resolution w=1600 h=1200 a="4:3"   t="UXGA"
resolution w=1680 h=1050 a="16:10" t="WSXGA+"
resolution w=1920 h=1080 a="16:9"  t="FHD"
resolution w=1920 h=1200 a="16:10" t="WUXGA"
resolution w=2048 h=1152 a="16:9"  t="QWXGA"
resolution w=2048 h=1536 a="4:3"   t="QXGA"
resolution w=2560 h=1080 a="21:9"  t="UWFHD"
resolution w=2560 h=1440 a="16:9"  t="QHD"
resolution w=2560 h=1600 a="16:10" t="WQXGA"
resolution w=3440 h=1440 a="21:9"  t="UWQHD"
resolution w=3840 h=2160 a="16:9"  t="4KUHD"
